<footer>
  <div class="container">
    <div class="row">
      <div class="span navigation">
        <dl>
          <dt><img src="//deployd.com/img/footer-dt.png" alt="deployd"></dt>
          <dd><a href="http://deployd.com/">Home</a></dd>
          <dd><a href="http://deployd.com/video.html">Screencast</a></dd>
          <dd><a href="http://deployd.com/features.html">Features</a></dd>
          <dd><a href="https://github.com/deployd/deployd/issues">Support</a></dd>
        </dl>
        <dl>
          <dt>documentation</dt>
          <dd><a href="http://docs.deployd.com/guides">Guides</a></dd>
          <dd><a href="http://docs.deployd.com/api">API</a></dd>
          <dd><a href="http://docs.deployd.com/examples">Examples</a></dd>
          <dd><a href="http://docs.deployd.com/modules">Modules</a></dd>
        </dl>
        <dl>
          <dt>community</dt>
          <dd><a href="http://deployd.com/community.html">Questions</a></dd>
          <dd><a href="https://twitter.com/deploydapp">Tweets</a></dd>
          <dd><a href="https://github.com/deployd/deployd/issues">Issues</a></dd>
          <dd><a href="https://github.com/deployd/deployd">Github</a></dd>
        </dl>
        <dl>
          <dt>contact</dt>
          <dd><a href="mailto:hello@deployd.com">hello@deployd.com</a></dd>
        </dl>
      </div>
      <div class="span logo-container">
        <div class="logo">
          <img src="//deployd.com/img/footer-logo.png" alt="deployd">
        </div>
      </div>
      <div class="span email-container">
        <dl id="mc_embed_signup" class="span4">
        <dt>Get deployd emails</dt>
        <dd>
          <form action="http://deployd.us2.list-manage.com/subscribe/post?u=4f1b944ba8c90738eb8e3fa3c&amp;id=7bb18e6b80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-vertical" target="_blank" novalidate="">
          <div class="mc-field-group">
            <input type="email" placeholder="your@email" value="" name="EMAIL" class="required email" id="mce-EMAIL"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
          </form>
        </dd>
      </dl>
      </div>
    </div>
  </div>
</footer>